node_modules
# Keep environment variables out of version control
.env

src/firebase/firebase-service-account.json
firebase-service-account.json
src/firebase

# uploads/chitty-payments/
# uploads/chitty-payments/*
# uploads/chitty-payments/**